<mat-card class="overview">
    <div class="main-card">
        <mat-card-title>{{project.name}}</mat-card-title>
        <mat-card-content>{{project.summary}}</mat-card-content>
        <mat-card-actions class="actions">
            <button mat-button color="primary">View More</button>
        </mat-card-actions>
    </div>
    <mat-card-footer class="card-footer">
        <div *ngFor="let tag of project.tags">
            <div class="tag" [style.background-color]="tag.color">{{tag}}</div>
        </div>
    </mat-card-footer>
</mat-card>
