<mat-card class = "overview">
    <mat-card-title>Contact</mat-card-title>
    <mat-card-content>
        <p>Please contact me at the following email: <b>{{email}}</b></p>
        <p>Feel free to contact me in any of the following platform:</p>
    </mat-card-content>

    <mat-list>
        <mat-list-item>
            <img src="../../assets/icons/linkedin.png" alt="linkedin icon"> 
            <a href="https://www.linkedin.com/in/gong-victor-feng-592771118/" target="_blank">Linkedin</a>
        </mat-list-item>
        
        <mat-list-item>
            <img src="../../assets/icons/gitHub.png" alt="GitHub icon">
            <a href="https://github.com/GongVictorFeng" target="_blank">GitHub</a>
        </mat-list-item>
    </mat-list>
</mat-card>

