.overview {
    border: none;
    box-shadow: none;
    background-color: #d7e3ff;
  }

.header {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    padding-bottom: 20px;
  }

  .content {
    padding-bottom: 20px;
  }