<div class="overview">
  <button mat-flat-button (click)="onDownload()">Download PDF Resume</button>
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      #accordionItem1="cdkAccordionItem"
      class="example-accordion-item first-accordion-item"
    >
      <button
        (click)="accordionItem1.toggle()"
        [attr.aria-expanded]="accordionItem1.expanded"
        class="example-accordion-item-header"
      >
        Summary of Qualification
        <span class="example-accordion-item-description">
          Click to {{ accordionItem1.expanded ? "close" : "open" }}
        </span>
      </button>

      @if(accordionItem1.expanded) {
      <div class="accordion-content">
        <ul>
          <li>
            4+ years of programming experience with expertise in
            <b>Java, C#, JavaScript, TypeScript, Python, C and C++</b>.
          </li>
          <li>
            2+ years of full-stack development experience, including
            <b>REST API design</b>, <b>microservices architecture</b>, and
            <b>cloud-based</b> solutions.
          </li>
          <li>
            Proficient in frontend frameworks <b>(Angular, React)</b> and
            backend technologies <b>(Spring Boot, REST APIs, SQLite)</b>.
          </li>
          <li>
            Strong experience in <b>test automation</b> using
            <b>Playwright, Robot Framework</b>, and <b>Selenium</b>, ensuring
            high-quality software delivery.
          </li>
          <li>
            Skilled in <b>agile methodologies</b>,
            <b
              >CI/CD pipelines, containerization (Docker), orchestration
              (Kubernetes)</b
            >, and version control systems <b>(Git, GitHub)</b> for
            collaborative development.
          </li>
          <li>
            Passionate about <b>Clean Architecture</b>,
            <b>Domain-Driven Design</b>, and
            <b>Data Structures & Algorithms</b>, with a proven track record of
            delivering scalable solutions.
          </li>
        </ul>
      </div>
      }
    </cdk-accordion-item>

    <cdk-accordion-item
      #accordionItem2="cdkAccordionItem"
      class="example-accordion-item"
    >
      <button
        (click)="accordionItem2.toggle()"
        [attr.aria-expanded]="accordionItem2.expanded"
        class="example-accordion-item-header"
      >
        Work Experience
        <span class="example-accordion-item-description">
          Click to {{ accordionItem2.expanded ? "close" : "open" }}
        </span>
      </button>

      @if(accordionItem2.expanded) {
      <div class="accordion-content">
        <h3>Full Stack Developer - Canada Revenue Agency</h3>
        <em>Criminal Investigation and Integration Services Team</em>
        <p>May 2024 - Jan 2025</p>
        <ul>
          <li>
            Contributed to the migration of a legacy desktop application to a
            modern web-based platform using <b>Angular</b> and
            <b>RxJS</b> observables, improving accessibility and user
            experience.
          </li>
          <li>
            Designed and implemented <b>REST APIs</b> to integrate complex
            backend systems, enabling seamless data retrieval and processing.
          </li>
          <li>
            Developed <b>responsive user interfaces</b> and optimized frontend
            performance, reducing load times by 20%.
          </li>
          <li>
            Conducted <b>end-to-end testing</b> using <b>Playwright</b>,
            ensuring robust functionality and user workflow validation.
          </li>
        </ul>

        <h3>Software Developer Co-op - Magnet Forensics</h3>
        <em>Artifacts Mobile Team</em>
        <p>May 2023 - Aug 2023</p>
        <ul>
          <li>
            Contributed to the development of <b>Magnet AXIOM</b>, a flagship
            forensic software, by implementing new features and optimizing data
            extraction processes.
          </li>
          <li>
            Designed <b>artifact schemas</b> and developed
            <b>data parsers</b> using <b>SQLite</b>, <b>Protocol Buffers</b>,
            and <b>FlatBuffers</b>, improving data recovery efficiency by 8%.
          </li>
          <li>
            Wrote and executed <b>unit tests</b> using <b>Moq</b>, ensuring code
            reliability and maintainability.
          </li>
        </ul>

        <h3>Software Developer in Test Co-op - Nokia</h3>
        <em>Netguard Cybersecurity Dome Team</em>
        <p>Sep 2022 - Dec 2022</p>
        <ul>
          <li>
            Developed <b>integration</b> and <b>end-to-end tests</b> using
            <b>Robot Framework</b> and <b>Selenium</b>, enhancing product
            quality and reducing defect rates by 10%.
          </li>
          <li>
            Optimized <b>GitLab CI/CD pipelines</b> to automate test result
            uploads to <b>Jira</b> and <b>Xray Test Management</b>, improving
            testing efficiency and tracking.
          </li>
          <li>
            Collaborated with cross-functional teams <b>(Dev, DevOps, ML)</b> to
            deploy and test services, including <b>GraphQL</b> and credential
            management systems.
          </li>
        </ul>
      </div>
      }
    </cdk-accordion-item>

    <cdk-accordion-item
      #accordionItem3="cdkAccordionItem"
      class="example-accordion-item"
    >
      <button
        (click)="accordionItem3.toggle()"
        [attr.aria-expanded]="accordionItem3.expanded"
        class="example-accordion-item-header"
      >
        Education
        <span class="example-accordion-item-description">
          Click to {{ accordionItem3.expanded ? "close" : "open" }}
        </span>
      </button>

      @if(accordionItem3.expanded) {
      <div class="accordion-content">
        <h3>Bachelor of Applied Science - Software Engineering (COOP)</h3>
        <em>University Of Ottawa - Ottawa, ON.</em>
        <p>Sep 2020 - Dec 2024</p>
        <ul>
          <li>
            <b
              >Highlight: CGPA: 9.49/10; Recognized on the Dean&#39;s Honor List
              every term; Graduated with Summa Cum Laude.</b
            >
          </li>
        </ul>
      </div>
      }
    </cdk-accordion-item>

    <cdk-accordion-item
      #accordionItem4="cdkAccordionItem"
      class="example-accordion-item last-accordion-item"
    >
      <button
        (click)="accordionItem4.toggle()"
        [attr.aria-expanded]="accordionItem4.expanded"
        class="example-accordion-item-header"
      >
        Skills
        <span class="example-accordion-item-description">
          Click to {{ accordionItem4.expanded ? "close" : "open" }}
        </span>
      </button>

      @if(accordionItem4.expanded) {
      <div class="accordion-content">
        <h3>Programming Languages</h3>
        <p>
          <b
            >Java, C#, JavaScript, TypeScript, C, C++, Python, SQL, HTML/CSS,
            Kotlin.</b
          >
        </p>

        <h3>Frameworks & Libraries</h3>
        <p>
          <b
            >Angular, React, Spring Boot, Android Studio, Junit, xUnit, Moq,
            GraphQL, FirebaseDB, MySQL.</b
          >
        </p>

        <h3>Tools & Technologies</h3>
        <p><b>Docker, Kubernetes, Git, CI/CD, REST, GraphQL</b></p>
      </div>
      }
    </cdk-accordion-item>
  </cdk-accordion>
</div>
