@use '@angular/material' as mat;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html {
  height: 100%;
}

.card-footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
}

.tag {
  padding: 0 20px;
  height: 30px;
  width: fit-content;
  font-size: 14px;
  line-height: 25px;
  border-radius: 25px;
  color: white;
  margin-inline-end: 0.5rem;
  margin-bottom: 0.25rem;
}