<mat-grid-list cols="2" rowHeight="65vh" gutterSize="10px" class="overview">
    <mat-grid-tile colspan="1">
      <mat-card class="big-card">
        <mat-card-header class="header">
            <mat-card-title>About me</mat-card-title>
        </mat-card-header>
        <div class="image-container">
          <img  mat-card-image src="../../assets/profile_photo.png" alt="profile image" class="rounded-image">
        </div>
        <mat-card-content>
          <div>
            <h3>Hi, I'm Gong ! I&#39;m the :</h3>
            <ul>
                <li>Creator of a cyclist web app for Ottawa cyclists to organize both outdoor races and virtual races in Zwift.</li>
                <li>uOttawa Software Engineering New Grad - CGPA: 9.5 / 10.</li>
                <li> Skilled in App Development, Test Automation, and Security.</li>
                <li> Passionate on Data Structure & Algorithm, Design Patterns, Clean Architecture and Domain-Driven-Development.</li>
            </ul>
        </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile colspan="1">
      <mat-card class="big-card">
        <mat-card-header class="header">
          <mat-card-title>Feature Project</mat-card-title>
        </mat-card-header>
        <p class="header">{{featureProject.name}}</p>
        <img  mat-card-image src={{featureProject.picture}} alt="project image">
        <mat-card-content>
          <p>{{featureProject.summary}}</p>
          <p>Visit the Portfolio section to learn more</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>