<mat-grid-list cols="2" rowHeight="65vh" gutterSize="10px" class="overview">
    <mat-grid-tile colspan="1">
      <mat-card class="big-card">
        <mat-card-header class="header">
            <mat-card-title>About me</mat-card-title>
        </mat-card-header>
        <div class="image-container">
          <img  mat-card-image src="../../assets/profile_photo.png" alt="profile image" class="rounded-image">
        </div>
        <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis ipsam cupiditate iure atque maxime, earum fugit nostrum, assumenda eius tempore perspiciatis neque! Debitis ipsum voluptate, id itaque dicta dolorum.</mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile colspan="1">
      <mat-card class="big-card">
        <mat-card-header class="header">
          <mat-card-title>Feature Project</mat-card-title>
        </mat-card-header>
        <p class="header">{{featureProject.name}}</p>
        <img  mat-card-image src={{featureProject.picture}} alt="project image">
        <mat-card-content>
          <p>{{featureProject.summary}}</p>
          <p>Visit the Portfolio section to learn more</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>